Insufficient contrast ratio (
<div class="tota11y-blindness tota11y-{{blindness}}" title="{{blindness}}"></div> {{contrastRatio}} &lt; {{requiredRatio}})

<span class="tota11y-swatches">
    <span class="tota11y-swatch" style="background-color: {{fgColorHex}}"></span>
    /
    <span class="tota11y-swatch" style="background-color: {{bgColorHex}}"></span>
</span>
