<p>
    The color combination
    <span class="tota11y-color-hexes">{{fgColorHex}}/{{bgColorHex}}</span>
    has a contrast ratio of <strong>{{contrastRatio}}</strong>, which is not
    sufficient for {{blindness}} users. At this size, you will need a ratio of at
    least <strong>{{requiredRatio}}</strong>.
</p>

<p>
    Consider using the following foreground/background combination:
</p>
