Insufficient contrast ratio (
<div class="tota11y-blindness tota11y-{{blindness}}" title="{{blindness}}">
    <div class="tota11y-cone tota11y-short"></div>
    <div class="tota11y-cone tota11y-long"></div>
    <div class="tota11y-cone tota11y-medium"></div>
</div> {{contrastRatio}} &lt; {{requiredRatio}})

<span class="tota11y-swatches">
    <span class="tota11y-swatch" style="background-color: {{fgColorHex}}"></span>
    /
    <span class="tota11y-swatch" style="background-color: {{bgColorHex}}"></span>
</span>
